html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                            "hero hero hero hero"
                            "sobre sobre sobre sobre"
                            "servicos servicos servicos servicos"
                            "rodape rodape rodape rodape";
                            /* (.- ponto) cria espaços nas colunas e nas linhas */

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* HEADER */
.header{
    grid-area: header;
    background-color: #6ee2aa;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.header h1{
    font-size: 3.5rem;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
}

.header a:hover h1{
    color: #cfcfcf;
}

/* SECTION */
.hero{
    grid-area: hero;
    height: 89vh;
    background: url(../imagens/foto1.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero h2{
    color: #f0f8ff;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.548);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
}

.hero:after{
    content: url(../imagens/seta_preta.png);
    height: 35px;
    bottom: 40px;
    position: absolute;
    filter: invert(1);
    animation: seta-para-baixo 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes seta-para-baixo {
    0%{-webkit-transform: translateY(0); opacity: 0.4;}
    100%{-webkit-transform: translateY(0.3em); opacity: 0.8;}
}

@media (max-width: 425px){
    .hero{
        height: 40vh;
    }

    .hero h2{
        font-size: 2.5rem;
    }
}

.sobre{
    grid-area: sobre;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    max-width: var(--max-width-size);
}

.sobre .item{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sobre .item h3{
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
}

.sobre .item p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 25px 0;
}

.sobre .imagem{
    height: 100%;
    width: 100%;
}

.sobre .imagem.direita{
    background: url(../imagens/homem-olhando-carro.jpg) center center no-repeat;
    background-size: cover;
}

.sobre .imagem.esquerda{
    background: url(../imagens/gerador-ozonio.png) center center no-repeat;
    background-size: cover;
}

@media(max-width: 425px){
    .sobre .item{
        text-align: center;
    }

    .sobre{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.servicos{
    grid-area: servicos;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicos .servico{
    padding: 60px 20px;
    text-align: center;
}

.servicos .servico img{
    width: 200px;
    margin-bottom: 30px;
}

.servicos .servico h3{
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
}

.servicos .servico h4{
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
}

.servicos .servico p{
    font-weight: 400;
    font-size: 1.8rem;
    max-width: 400px;
    line-height: 25px;
    margin: 25px auto 0;
}

.servicos .servico:nth-child(1){
    background-color: #6ee2aa;
}

.servicos .servico:nth-child(2){
    background-color: #dbdbdb;
}

@media(max-width: 425px){
    .servicos{
        grid-template-columns: 1fr;
    }
}

/* FOOTER */
.rodape{
    grid-area: rodape;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.rodape h2{
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
    margin-top: 20px;
}

.rodape h3{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px rgba(136, 136, 136, 0.568);
}

.rodape .rede-sociais a{
margin: 20px;
}

.rodape .rede-sociais i{
    font-size: 3rem;
    transition: 0.3s;
}

.rodape .rede-sociais i:hover{
    color: #6ee2aa;
}

.rodape .marca-dagua img{
    margin-top: 20px;
    width: 60px;
    opacity: 0.1;
}